body {
  font-family: Arial, Helvetica, sans-serif;
}

img{
  width: 200px;
}

h1{
  text-align: center;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px
}

.item{
  background: #ddd;
  padding: 20px;
  text-align: center;
}